<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文章列表</title>
    <link rel="stylesheet" href="js/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="stylesheet" href="css/main.css">
    <link type="text/css" rel="stylesheet" href="js/jedate/css/jedate.css">
    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="js/jedate/js/jedate.js"></script>
    <script src="js/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="js/tinymce/js/tinymce/tinymce_setup.js"></script>
    <script src="./lib/vue.js"></script>
    <script src="./lib/axios.min.js"></script>
    <script src="./lib/qs.js"></script>
    <script src="./lib/moment.js"></script>
</head>

<body>
    <div class="container-fluid" id="app">
        <div class="common_title">
            写文章
        </div>
        <div class="container-fluid common_con">
            <form class="form-horizontal article_form" ref="form">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">文章标题：</label>
                    <div class="col-sm-10">
                        <!-- 文章标题 -->
                        <input type="email" name="title" v-model="title" class="form-control" id="inputEmail3" placeholder="文章标题">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">文章封面：</label>
                    <div class="col-sm-10">
                        <!-- 图片预览 -->
                        <img :src="imgSrc" id="showImg" style="height: 100px;">
                        <!-- 图片选择框 -->
                        <input @change="showImg" type="file" name="cover" id="exampleInputFile" ref="uploadImg" >
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">文章类别：</label>
                    <div class="col-sm-4">
                        <!-- 文章类型选择 -->
                        <select class="form-control" name="categoryId" v-model.number="categoryId">
                            <option v-for="item in categorylist" :key="item.id" :value="item.id">{{item.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">发布时间：</label>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <!-- 日期选择框 -->
                            <input type="text" v-model="date" name="date" class="form-control" placeholder="YYYY-MM-DD" id="dateinput">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"
                                    onclick="jeDate('#dateinput',{trigger:false,format: 'YYYY-MM-DD'})"><i
                                        class="iconfont icon-icondate"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">文章内容：</label>
                    <div class="col-sm-10">
                        <textarea ref="textarea" class="form-control" id="rich_content" placeholder="文章内容"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" @click.prevent="release('已发布')" class="btn btn-success">发布</button>
                        <button type="submit" @click.prevent="release('草稿')" class="btn btn-default">存为草稿</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="./js/article_release.js"></script>
</body>

</html>